<ion-view view-title="Lassi Corner">
  <ion-content class="background-image">
  	<ion-slide-box>
		   <ion-slide>
		      <div class = "box box1">
				 <img class = "full-image" src = "img/box1.jpg">	
		      </div>
		   </ion-slide>

		   <ion-slide>
		      <div class = "box box2">
		          <img class = "full-image" src = "img/box1.jpg">	
		      </div>
		   </ion-slide>

		   <ion-slide>
		      <div class = "box box3">
		          <img class = "full-image" src = "img/box1.jpg">	
		      </div>
		   </ion-slide>
		</ion-slide-box>   

		<a href="#/app/franchiseeLogin" style="text-decoration: none;">
		<button class="button button-block button-assertive" style="border-radius: 60px;text-align: left; margin-top: 10%;background-color: #990000;">
			<div class = "row">
			   <div class = "col col-20"><i class="icon ion-map"></i></div>
			   <div class = "col col-80">Franchisee Login</div>
			</div>		  
		</button>
		</a>



		<!-- placeOrder -->
		<a href="#/app/facebookGoogleLogin" style="text-decoration: none;">
		<button class="button button-block button-assertive" style="border-radius: 60px;text-align: left; margin-top: 10%;background-color: #990000;">
			<div class = "row">
			   <div class = "col col-20"><i class="icon ion-pizza"></i></div>
			   <div class = "col col-80">Order Food Online</div>
			</div>		  
		</button>
	</a>

	<ion-footer-bar class="bar-assertive" style="background-color: transparent !important;">
      <h6 class="title" style="color: #990000;"><center>Lassi Corner&nbsp;&copy;&nbsp;2017</center></h6>
    </ion-footer-bar>

  </ion-content>
</ion-view>
