<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive" style="background-color: #990000;">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-assertive" style="background-color: #990000;">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>

        <ion-item menu-close href="#/app/home">
          <img src="img/sidemenu-logo.png" style="width: 150%;" />
        </ion-item>
        
        <ion-item menu-close href="#/app/home" style="color: #990000;font-size: 125%;">
          <i class="icon ion-home"></i>&nbsp;&nbsp;Home
        </ion-item>

        <ion-item menu-close href="#/app/franchiseeLogin" style="color: #990000;font-size: 125%;">
          <i class="icon ion-map"></i>&nbsp;&nbsp;Franchisee Login
        </ion-item>

        <ion-item menu-close href="#/app/placeOrder" style="color: #990000;font-size: 125%;">
          <i class="icon ion-pizza"></i>&nbsp;&nbsp;Order Food Online
        </ion-item>

        <ion-item menu-close href="#/app/test" style="color: #990000;font-size: 125%;">
          <i class="icon ion-location"></i>&nbsp;&nbsp;Show Location
        </ion-item>

<!--         <ion-item menu-close href="#/app/location" style="color: #990000;font-size: 125%;">
          <i class="icon ion-location"></i>&nbsp;&nbsp;Show Location
        </ion-item> -->
        
      </ion-list>
    </ion-content>
     
  </ion-side-menu>
</ion-side-menus>
