<ion-view view-title="Lassi Corner">
  <ion-content class="background-image">
  	
  		<button class="button button-full button-assertive" ng-click="openInAppBrowser()">
            Open In App Browser
        </button>

	<ion-footer-bar class="bar-assertive" style="background-color: transparent !important;">
      <h6 class="title" style="color: #990000;"><center>Lassi Corner&nbsp;&copy;&nbsp;2017</center></h6>
    </ion-footer-bar>

  </ion-content>
</ion-view>
