<ion-view view-title="Lassi Corner">
  <ion-content class="background-image">

  		<div class="padding">
          <div class="list">
          	<br>
            <label class="item item-input" style="border-radius: 50px;">
              <span class="input-label" style="color: #990000;">Username</span>
              <input type="text" ng-model="user.username" style="color: #990000;">
            </label>
            <br>
            <label class="item item-input" style="border-radius: 50px;">
              <span class="input-label" style="color: #990000;">Password</span>
              <input type="password" ng-model="user.password" style="color: #990000;">
            </label>
            <br>
            <label class = "item item-input item-select" style="border-radius: 50px;">
			   <div class = "input-label" style="color: #990000;">
			      Login as:
			   </div>
				
			   <select style="color: #990000;">
			      <option>Franchisor</option>
			      <option>Franchisee</option>			      
			   </select>
			</label>


             <button class="button button-block button-assertive" style="border-radius: 60px;text-align: left; margin-top: 10%;background-color: #990000;">
              <div class = "row">
			   <div class = "col col-20"><i class="icon ion-unlocked"></i></div>
			   <div class = "col col-80">Login</div>
			  </div>
            </button>
          </div>
          
           
         </div>
          
           

		

	<ion-footer-bar class="bar-assertive" style="background-color: transparent !important;">
      <h6 class="title" style="color: #990000;"><center>Lassi Corner&nbsp;&copy;&nbsp;2017</center></h6>
    </ion-footer-bar>

  </ion-content>
</ion-view>
