<ion-view view-title="Location">
  <ion-content>

        <div id="map" data-tap-disabled="true" style="width: 100%;height: 50%;">
        	        	
        </div>

        <div class="padding">
          <div class="list">
          	<br>            

          	<label class = "item item-input" style="border-radius: 50px; border:0px solid;">
			   <div class = "input-label" style="color: #990000;">
			     <i class="icon ion-close-circled"></i>&nbsp;&nbsp;Outlet is far from Delivery Location
			   </div>
			</label>
			<br>
            <label class = "item item-input item-select" style="border-radius: 50px;">
			   <div class = "input-label" style="color: #990000;">
			      Select outlet:
			   </div>
				
			   <select style="color: #990000;">
			      <option>Outlet 1</option>
			      <option>Outlet 2</option>			      
			   </select>
			</label>


             <button class="button button-block button-assertive" style="border-radius: 60px;text-align: left; margin-top: 10%;background-color: #990000;">
              <div class = "row">			   
			   <div class = "col col-80">Proceed</div>
			   <div class = "col col-20"><i class="icon ion-arrow-right-a"></i></div>
			  </div>
            </button>
          </div>
          
           
         </div>

	<ion-footer-bar class="bar-assertive" style="background-color: transparent !important;">
      <h6 class="title" style="color: #990000;"><center>Lassi Corner&nbsp;&copy;&nbsp;2017</center></h6>
    </ion-footer-bar>

  </ion-content>
</ion-view>
