<ion-view view-title="Login">
   <ion-content class="background-image">
      <div class="padding">
         <div class="list">
            <label class = "item item-input item-select" style="margin-top: 10%;border-radius: 10px;">
               <div class = "input-label" style="color: #990000;">
                  Select Outlet:
               </div>
               <select style="color: #990000;" ng-change="showOutlet(data.selectedOutlet)" ng-model="data.selectedOutlet">
                  <option>Marathahalli, Bangalore</option>
                  <option>Bellandur, Bangalore</option>
                  <option>Ramamurthy, Bangalore</option>
                  <option>Vijayanagar, Bangalore</option>
                  <option>Chansandra, Bangalore</option>
                  <option>Electronic City II, Bangalore</option>
               </select>
            </label>
            <br>
            <div style="display: none;" ng-style='outletSelector'>
               <label class="item item-input" style="border-radius: 50px;">
               <span class="input-label" style="color: #990000;">Username</span>
               <input type="text" ng-model="data.username" style="color: #990000;">
               </label>
               <br>
               <label class="item item-input" style="border-radius: 50px;">
               <span class="input-label" style="color: #990000;">Password</span>
               <input type="password" ng-model="data.password" style="color: #990000;">
               </label>
               <br>
               <center style="color: #990000;font-size: 150%;">
                  <input type="radio" name="userType" ng-model="data.option" value="Franchisee"> Outlet&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="radio" name="userType" ng-model="data.option" value="Franchisor"> Master Outlet
               </center>
               
               <button class="button button-block button-assertive" style="border-radius: 60px;text-align: left; margin-top: 10%;background-color: #990000;" ng-click=showAgreement(data.username,data.password,data.option)>
                  <div class = "row">
                     <div class = "col col-20"><i class="icon ion-unlocked"></i></div>
                     <div class = "col col-80">Login</div>
                  </div>
               </button>
               <br>
               <center>
                  <a href=""  style="color: #990000;font-size: 150%; text-decoration: none;" ng-click = "showForgotPopup()">Forgot Password?</a>
               </center>
               <br/>
               <center>
                  <h4 style="color: red;display: none;" ng-style='errorSelector'>* username or password invalid</h4>
               </center>
            </div>
         </div>
      </div>
      <ion-footer-bar class="bar-assertive" style="background-color: transparent !important;">
         <h6 class="title" style="color: #990000;">
            <center>Lassi Corner&nbsp;&copy;&nbsp;2017</center>
         </h6>
      </ion-footer-bar>
   </ion-content>
</ion-view>