<ion-view view-title="Place Order">

  <ion-content class="background-image">

            

            <ion-list>
            <div ng-repeat="item in data">
              
              <ion-item class="item-accordion" style="border-color: rgb(153, 0, 0, 0.5);padding: 0px;border-radius: 10px;">
                <div class = "row">
                   <div class = "col col-50" style="text-align: left;">
                      <i class="icon ion-ionic" style="color: #990000;"></i>&nbsp;&nbsp;<b>{{item.name}}</b>&nbsp;&nbsp;&#8377;{{item.price}} <b>/</b> {{item.quantity}}
                   </div>   
                   <div class = "col col-30" style="text-align: right;color: #990000;">
                      <i class="icon ion-plus-circled" style="color: green;font-size: 150%;" ng-click="plusQty(item,$index)"></i>
                      
                      &nbsp;&nbsp;

                      <i class="icon ion-minus-circled" style="font-size: 150%;" ng-click="minusQty(item,$index)"></i>
                   </div>                  
                </div>
              </ion-item>

            </div>
            <div id="qty" style="background-color: white;border-radius: 3%;border: 1px solid #990000;padding: 4%;display: none;" ng-style="qtyList">
              
              
            </div>

            <div id="qtyTotal" style="background-color: white;border-radius: 3%;border: 1px solid #990000;padding: 4%;display: none;" ng-style="qtyTotal">

              <p style="color:#990000;font-weight:bold;font-size:120%;"><b style="float:right;">Tax - <i>28%</i></b></p>'
              <p style="color:#990000;font-weight:bold;font-size:120%;"><b style="float:right;">Total - &#8377;<i id="total">0</i></b></p>'
                
              </div>


          </ion-list>

                        <div class="list" class="background-image" style="height: 30%;">
                          <br>
                          <label class="item item-input" style="border-radius: 50px; width: 100%;">
                            <span class="input-label" style="color: #990000;">Comments</span>
                            <!-- <textarea ng-model="" style="color: #990000;"/> -->
                            <textarea ng-model="data.comments" rows="4" style="color: #990000;"></textarea>
                          </label>

                         <center>
                          <!-- <a href="#/app/showReceipt" style="text-decoration: none;"> -->
                          <button class="button button-assertive" on-tap="showPopupCash()" style="border-radius: 60px;text-align: left; margin-top: 4%;width:100%;background-color: #990000;">
                            <div class = "row">                             
                             <div class = "col col-80">Cash on Delivery</div>
                             <div class = "col col-20"><i class="icon ion-arrow-right-a"></i></div>
                            </div>
                          </button>

                          <button class="button button-assertive" on-tap="showPopupOnline()" style="border-radius: 60px;text-align: left; margin-top: 4%;width:100%;background-color: #990000;">
                            <div class = "row">                             
                             <div class = "col col-80">Online Payment</div>
                             <div class = "col col-20"><i class="icon ion-ios-cart"></i></div>
                            </div>
                          </button>

                          
                        <!-- </a> -->
                        </center>
                        </div>
  </ion-content>                                  
</ion-view>
