<ion-view view-title="Select Outlet">
  <ion-content class="background-image" style="color:#990000;">
  	  <br>
  	<div class = "row" style="text-align: right;">
	   <div class = "col col-50" style="border:1px solid;"><b>{{outlet}}</b></div>
	   <div class = "col col-50" style="border:1px solid;"><b>{{orderDate | date:'dd/MM/yyyy'}}</b></div>
	</div>
	
	
	<div class = "row" style="text-align: right;" ng-repeat="item in items track by $index">
	   <div class = "col col-50" style="border:1px solid;background-color: white;">{{item}}</div>
	   <div class = "col col-50" style="border:1px solid;background-color: white;">Rs {{price[$index]}}</div>
	</div>
	
	
	<div class = "row" style="text-align: right;">
	   <div class = "col col-50" style="border:1px solid;border-top: 2px solid;"><b>SUBTOTAL :</b></div>
	   <div class = "col col-50" style="border:1px solid;border-top: 2px solid;background-color: white;"><b>{{total}}</b></div>
	</div>
	<div class = "row" style="text-align: right;">
	   <div class = "col col-50" style="border:1px solid;"><b>TAX</b></div>
	   <div class = "col col-50" style="border:1px solid;background-color: white;"><b>42</b></div>
	</div>
	<div class = "row" style="text-align: right;">
	   <div class = "col col-50" style="border:1px solid;"><b>DELIVERY CHRGS</b></div>
	   <div class = "col col-50" style="border:1px solid;background-color: white;"><b>20</b></div>
	</div>
	<div class = "row" style="text-align: right;">
	   <div class = "col col-50" style="border:1px solid;"><b>TOTAL</b></div>
	   <div class = "col col-50" style="border:1px solid;background-color: white;"><b>520</b></div>
	</div>
	<br>

	
                          <button class="button button-block button-assertive" style="border-radius: 60px;text-align: left; margin-top: 10%;background-color: #990000; width: 100%;" ng-click="confirm()">
                            <div class = "row">                             
                             <div class = "col col-80">Confirm Order</div>
                             <div class = "col col-20"><i class="icon ion-arrow-right-a"></i></div>
                            </div>
                          </button>
    
 	
			

    <ion-footer-bar class="bar-assertive" style="background-color: transparent !important;">
      <h6 class="title" style="color: #990000;"><center>Lassi Corner&nbsp;&copy;&nbsp;2017</center></h6>
    </ion-footer-bar>
  </ion-content>
</ion-view>
