<ion-view view-title="Order Details">
  <ion-content class="background-image">
  	

		<a href="#/app/processingOrder" style="text-decoration: none;">
		<button class="button button-block button-assertive" style="border-radius: 60px;text-align: left; margin-top: 10%;background-color: #990000;">
			<div class = "row">
			   <div class = "col col-20" style="font-size: 250%;"><i class="ion-drag"></i></div>
			   <div class = "col col-80">Orders</div>
			</div>		  
		</button>
		</a>

	<ion-footer-bar class="bar-assertive" style="background-color: transparent !important;">
      <h6 class="title" style="color: #990000;"><center>Lassi Corner&nbsp;&copy;&nbsp;2017</center></h6>
    </ion-footer-bar>

  </ion-content>
</ion-view>
