<ion-view view-title="Select Payment Method">
  <ion-content class="background-image">
  	
  		<button class="button button-full" ng-click="openInAppBrowser()" style="color: green;text-align: left; padding-left:20%;">
            <i class="icon ion-locked"></i>&nbsp;&nbsp;Online Payment
        </button>

        <button class="button button-full" ng-click="cashOnDelivery()" style="color: green;text-align: left;padding-left:20%;">
            <i class="icon ion-calendar"></i>&nbsp;&nbsp;Cash Payment
        </button>

	<ion-footer-bar class="bar-assertive" style="background-color: transparent !important;">
      <h6 class="title" style="color: #990000;"><center>Lassi Corner&nbsp;&copy;&nbsp;2017</center></h6>
    </ion-footer-bar>

  </ion-content>
</ion-view>
