<ion-view view-title="Processing Orders">
  <ion-content class="background-image">
		
		 
		    
		    

			
				
			   
			   
			    <label class = "item item-input item-select">
				   <div class = "input-label">
				      Select Date
				   </div>
					
				   <input type="date" format="dd/MM/yyyy" ng-model="data.date">
				</label>

			   <label class = "item item-input item-select">
				   <div class = "input-label">
				      Select Amount
				   </div>
					
				   <select ng-model="data.amount">					      
					      <option value="1000" selected="true">Less OR Equal to 1000</option>
					      <option value="3000">Less OR Equal to 3000</option>
					      <option value="8000">Less OR Equal to 8000</option>
					      <option value="15000">Less OR Equal to 15000</option>
					      <option value="20000">Less OR Equal to 20000</option>
					      <option value="30000">Less OR Equal to 30000</option>
					      <option value="40000">Less OR Equal to 40000</option>
					      <option value="50000">Less OR Equal to 50000</option>
					   </select>
				</label>
				<!-- <label class = "item item-input item-select">
				   <div class = "input-label">
				      Order Status
				   </div>
					
				   <select ng-model="data.status">					      
					      <option value="true" selected>Order Completed</option>
					      <option value="false">Under Processing</option>
					   </select>
				</label>
				 -->

				   <button class="button button-assertive" ng-click="fetchOrders(data.date, data.amount)" style="background-color: #990000;width: 100%; margin-bottom: 2%;margin-top: 2%;">Filter Orders&nbsp;&nbsp;&nbsp;&nbsp;<i class="ion-funnel"></i></button>
				
			
		 
<i>
		<div class = "row" style="border:1px solid #990000; color: #990000; padding: 1px; background-color: #ffffff;">
		   <div class = "col" style="border-right: 2px solid; width: 20%;"><b>Date</b></div>
		   <div class = "col" style="border-right: 2px solid; width: 20%;"><b>Outlet</b></div>
		   <div class = "col" style="border-right: 2px solid; width: 20%;"><b>Ordered Items</b></div>
		   <div class = "col" style="border-right: 2px solid; width: 20%;"><b>Balance</b></div>
		   <div class = "col" style="border-right: 2px solid; width: 20%;"><b>Total Amount</b></div>
		</div>
		<div class = "row" ng-repeat="item in items track by $index" style="border:1px solid #990000; color: #990000; padding: 0px; background-color: #ffffffbd;">
		   <div class = "col" style="border-right: 1px solid; width: 20%;">{{item.orderOn}}</div>
		   <div class = "col" style="border-right: 1px solid; width: 20%;">{{item.orderBy}}, {{item.outletId}}</div>
		   <div class = "col" style="border-right: 1px solid; width: 20%;">{{item.items}}</div>
		   <div class = "col" style="border-right: 1px solid; width: 20%;">Rs. {{item.balance}}</div>
		   <div class = "col" style="border-right: 1px solid; width: 20%;">Rs. {{item.total}}</div>
		</div>
</i>

  </ion-content>
  
</ion-view>
