<ion-view view-title="Login">
  <ion-content class="background-image">

  		<div class="padding">
          <a class="button button-block button-assertive" style="border-radius: 60px;text-align: left;margin-top: 20%; margin-top: 10%;background-color: #990000;" ng-click="show()"><i class="icon ion-social-facebook"></i>&nbsp;&nbsp;Sign in with Facebook</a> 
            
    <a class="button button-block button-assertive" style="border-radius: 60px;text-align: left;margin-top: 20%; margin-top: 10%;background-color: #990000;" ng-click="googleSignIn()"><i class="icon ion-social-googleplus"></i>&nbsp;&nbsp;Sign in with Google</a>
          
           
      </div>

	<ion-footer-bar class="bar-assertive" style="background-color: transparent !important;">
      <h6 class="title" style="color: #990000;"><center>Lassi Corner&nbsp;&copy;&nbsp;2017</center></h6>
    </ion-footer-bar>

  </ion-content>
</ion-view>
