<ion-view view-title="Select Outlet">
  <ion-content class="background-image">
  	  
  	<div id="map" data-tap-disabled="true" style="width: 100%;height: 50%;display: none;">
        	        	
    </div>  

  	<div class="list" style="padding-top: 44%;">       	
            
			<br>
            <label class = "item item-input item-select" style="border-radius: 50px;">
			   <div class = "input-label" style="color: #990000;">
			      Select outlet:
			   </div>
				
			   <select style="color: #990000;" ng-change="showOutlet(data.selectedOutlet)" ng-model="data.selectedOutlet">
			   	<option>--Select Outlet--</option>
			      <option value="12.9592,77.6974">Marathahalli, Bangalore</option>
			      <option value="12.9260,77.6762">Bellandur, Bangalore</option>
			      <option value="13.0184,77.6781">Ramamurthy, Bangalore</option>
			      <option value="12.9719,77.5299">Vijayanagar, Bangalore</option>
			      <option value="12.9795,77.7638">Chansandra, Bangalore</option>
			      <option value="12.840711,77.676369">Electronic City II, Bangalore</option>			      
			   </select>
			</label>

		<center>
			<a href="#/app/placeOrder" style="text-decoration: none;">
             <button class="button button-assertive" style="border-radius: 60px;text-align: left; margin-top: 10%;background-color: #990000;">
              <div class = "row">			   
			   <div class = "col col-80">Proceed</div>
			   <div class = "col col-20"><i class="icon ion-arrow-right-a"></i></div>
			  </div>
            </button>
        </a>
        </center>
          </div>
			

	<ion-footer-bar class="bar-assertive" style="background-color: transparent !important;">
      <h6 class="title" style="color: #990000;"><center>Lassi Corner&nbsp;&copy;&nbsp;2017</center></h6>
    </ion-footer-bar>

  </ion-content>
</ion-view>
