/* Empty. Add your own CSS if you like */
/*full background image*/
.background-image{
	background-image: url('../img/background.jpg');width: 100%;background-size: 100% 100%;background-repeat: no-repeat;background-position: center center;
}

/*homepage*/
.item-content{
	background-image: url('../img/background.jpg') !important;
}

/*sidemenu*/
.scroll{
	background-image: url('../img/background.jpg') !important;
}


/*popover*/
.my-button{
	border-radius: 60px;text-align: left; margin-top: 10%;background-color: #990000;color: white;
}

/*order cards*/
.card, .list-inset {
    overflow: hidden;
    
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    border-radius: 0px;
    background-color: #fff;
}
.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content{
    padding-left: 16px;
    min-height: 72px;
}

/*collapsable */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

/*collapsable */

